<table width="100%" cellspacing="0" class="table table-bordered">
  <th>Name</th>
  <th>Description</th>
  <th>user</th>
  <th>Status</th>
  <th>Sprint</th>
  <th>Actions</th>
  <tr *ngFor="let story of stories | async;">
    <td>
      {{story.name}}
    </td>
    <td>
      {{story.description}}
    </td>
    <td>
      {{story.userId}}
    </td>
    <td>
      {{story.storystatus}}

    </td>
    <td>
      {{story.sprintId}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="delete(story)">Delete</button>
      <app-update-modal [repository]="storiesRepo" [modelData]="story"></app-update-modal>
    </td>
  </tr>
</table>
<app-create-modal [repository]="storiesRepo"></app-create-modal>