<table width="100%" cellspacing="0" class="table table-bordered">
  <th>Id</th>
  <th>Name</th>
  <th>Role</th>
  <th>Actions</th>
  <tr *ngFor="let user of users | async;">
    <td>
      {{user.id}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td>
        {{user.role}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="delete(user)">Delete</button>
      <app-update-modal [repository]="usersRepo" [modelData]="user"></app-update-modal>
    </td>
  </tr>
</table>
<app-create-modal [repository]="usersRepo"></app-create-modal>