<table width="100%" cellspacing="0" class="table table-bordered">
  <th>Id</th>
  <th>Name</th>
  <th>Role</th>
  <th>Actions</th>
  <tr *ngFor="let user of users | async;">
    <td>
      {{user.id}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td>
        {{user.role}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="delete(user)">Delete</button>
      <app-update-user [userData]="user"></app-update-user>
      <!-- <button class="btn btn-danger" (click)="edit(user)">Edit</button> -->

    </td>
  </tr>
</table>
<app-create-user></app-create-user>