<button type="button" class="btn btn-primary" (click)="openModal(template)">Edit</button>
  
  <ng-template #template>
      <form class="needs-validation" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit sprint</h4>
      <button type="button" class="close pull-right" aria-label="Close"
        (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="formGroup" (ngSubmit)="update()">
            <formly-form [form]="formGroup" [fields]="fields" [model]="sprint"></formly-form>
            <button class="btn btn-success" type="submit" [disabled]="formGroup.invalid">Submit</button>
          </form>
    </div>
    </form>
  </ng-template>