<button type="button" class="btn btn-primary" (click)="openModal(template)">Edit</button>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit sprint</h4>
      <button type="button" class="close pull-right" aria-label="Close"
        (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="formGroupExampleInput2">Description</label>
        <input type="text" class="form-control" placeholder="description"  [(ngModel)]="sprint.description">
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput2">start</label>
          <input type="text" class="form-control" placeholder="start" type="date"  [(ngModel)]="sprint.startDate">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">end</label>
            <input type="text" class="form-control" placeholder="end" type="date"  [(ngModel)]="sprint.endDate">
          </div>
      <button class="btn btn-success" (click)="update()">Update</button>
    </div>
  </ng-template>