<div *ngIf="sprintObs | async; let sprintObs;">
  <h3>Sprint: {{ sprintObs.description }}</h3>
  <table width="100%" cellspacing="0" class="table table-bordered">
    <th>Backlog</th>
    <th>Sprint</th>
    <tr>
      <!--Backlog-->
      <td>
        <table width="100%" cellspacing="0" class="table table-bordered" *ngFor="let story of backlogStories" (click)="changeStory(story)">
      <th>Story {{story.points}}</th>
      <tr>{{story.name}}</tr>
      <hr>
      <tr>{{story.description}}</tr>  </table>
  </td>
  <!--Sprint-->
  <td>
    <table width="100%" cellspacing="0" class="table table-bordered" *ngFor="let story of sprintStories" (click)="changeStory(story)">
  <th>Story {{story.points}}</th>
  <tr>{{story.name}}</tr>
  <hr>
  <tr>{{story.description}}</tr>
  </table>
  </td>
  </tr>
  </table>
</div>
