<table width="100%" cellspacing="0" class="table table-bordered">
  <th>Id</th>
  <th>Description</th>
  <th>Start</th>
  <th>End</th>
  <th>Actions</th>
  <tr *ngFor="let sprint of sprints | async;">
    <td>
      {{sprint.id}}
    </td>
    <td>
      {{sprint.description}}
    </td>
    <td>
      {{sprint.startDate}}
    </td>
    <td>
      {{sprint.endDate}}
    </td>
    <td>
        <button class="btn btn-primary" [disabled]="sprint.active" (click)="start(sprint)">Start</button>
        <button class="btn btn-primary" [routerLink]="['/sprints/' + sprint.id]">Details</button>
        <button class="btn btn-danger" (click)="delete(sprint)">Delete</button>
        <app-update-modal [repository]="sprintsRepo" [modelData]="sprint"></app-update-modal>
    </td>
  </tr>
</table>
<app-create-modal [repository]="sprintsRepo"></app-create-modal>