<button type="button" class="btn btn-primary" (click)="openModal(template)">Create</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create sprint</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="create()">
      <formly-form [form]="formGroup" [fields]="fields" [model]="sprint"></formly-form>
      <button class="btn btn-success" type="submit" [disabled]="formGroup.invalid">Create</button>
    </form>
  </div>
</ng-template>